<%= simple_form_for([:admin, @zone]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :zone_code, :label => 'Zone Code' %>
      <%= f.association :town %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
