<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @town.name %>
</p>

<p>
  <strong>Area code:</strong>
  <%= @town.area_code %>
</p>

<%= link_to 'Edit', edit_admin_town_path(@town) %> |
<%= link_to 'Back', admin_towns_path %>
